@use '../core.scss' as *;

.grid {
    width: 100%;
    transition: height 1s linear !important;
    .grid-inner {
        @include transition(.5s, ease, height);
        display: flex;
        flex-wrap: wrap;
        margin-inline: calc( -1 * ( var(--mv-spacing-inline) / 2 ) );
        margin-block: calc( -1 * ( var(--mv-spacing-block) / 2 ) );
    }
    .grid-item {
        flex: 0 1 var(--mv-grid-size);
        padding-inline: calc( var(--mv-spacing-inline) / 2 );
        padding-block: calc( var(--mv-spacing-block) / 2 );
        transform-origin: center;
        &.grid-item-full {
            --mv-grid-size: 100%;
        }
    }

    .grid-load-more {
        @include d-flex(null, null, center);
        margin-top: 90px;
    }

    &.is-loading {
        pointer-events: none;
        filter: blur(1px);
        animation: pulseFade 2.5s ease-in-out infinite;
    }
}

.grid-pagination {
    @include d-flex(10px, center, center);
    margin-top: 105px;
    .page-numbers {
        @include d-inline-flex(null, center, center);
        @include round-box(34px);
        color: #060F16;
        font-weight: 600;
        letter-spacing: -0.64px;
        background-color: #FFF;
        &:hover , &.current {
            background-color: #A8FFBB;
        }
    }
    @media #{$max-lg} {
        margin-top: 85px;
    }
    @media #{$max-sm} {
        margin-top: 65px;
    }
}

.isotope, .filter {
    .grid-item {
        width: var(--mv-grid-size);
    }
}