@use '../core.scss' as *;

#hero-section {
    &[data-layout="default"] {
        background-color: #D9D9D9;
        padding-inline: 15px;
        .hero-inner {
            @include container;
            @include d-flex(0px, center);
            text-align: center;
            min-height: 350px;
            padding-block: 120px;
            @media#{$max-lg} {
                padding-block: 105px;
            }
            @media#{$max-sm} {
                padding-block: 90px;
            }
            .hero-title {
                display: block;
                width: 100%;
                -ms-word-wrap: break-word;
                word-wrap: break-word;
            }
        }
    }
}